@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #E7EFC7;
  --color-secondary: #AEC8A4;
  --color-background: #1D5464;
  --color-accent: #FFFFFF;
  --tracking-25: 0.25rem;
  --tracking-50: 0.5rem;
}

.heading-2 {
  @apply text-xl md:text-2xl font-bold text-primary tracking-25 uppercase;
}

.bg-textured {
  background-image: url('assets/asfalt-dark.png');
  background-repeat: repeat;
  background-size: auto;
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}