@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-heading: #E7EFC7;
  --color-primary: #D3D3D3;
  --color-secondary: #AEC8A4;
  --color-background: #1D5464;
  --color-accent: #FFB915;
  --tracking-25: 0.25rem;
  --tracking-50: 0.5rem;
}

.section {
  @apply flex flex-col gap-4 items-start font-inter scroll-mt-12;
}

.heading-2 {
  @apply text-2xl lg:text-3xl font-poppins font-bold text-heading tracking-25 uppercase;
}

.bullet {
  @apply w-1 h-1 md:w-2 md:h-2 rounded-full ml-2 shrink-0 bg-primary;
}

.bg-textured {
  background-image: url('assets/asfalt-dark.png');
  background-repeat: repeat;
  background-size: auto;
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}